@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  --mainYellow: #d2aa5c;
  --primaryColor: #b8860b;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainSpacing: 4px;
  --mainTransition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-size: 1rem;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p {
  margin-bottom: 1.3rem;
}

a {
  text-decoration: none;
}

.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
