.banner {
  margin: 1rem auto;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  z-index: 2;
}

.banner h1 {
  font-size: 3rem;
  text-transform: capitalize;
  padding: 0 1rem;
  margin-bottom: 1rem;
  letter-spacing: 12px;
}

.banner p {
  font-size: 14px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 400px) {
  .banner {
    margin: 4rem auto;
  }
  .banner h1 {
    font-size: 4rem;
    letter-spacing: 16px;
  }
  .banner p {
    width: 85%;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .banner h1 {
    text-transform: uppercase;
  }
  .banner p {
    width: 70%;
    margin-bottom: 4rem;
  }
}
