.banner {
  margin: 4rem auto;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
}

.banner h1 {
  font-size: 4rem;
  text-transform: capitalize;
  padding: 0 1rem;
  margin-bottom: 1rem;
  letter-spacing: 16px;
}

.banner p {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .banner h1 {
    text-transform: uppercase;
  }
  .banner p {
    width: 70%;
  }
}
