.work {
  display: flex;
  flex-direction: column;
  background: var(--primaryColor);
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}

.work:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  flex: 1 1 auto;
  position: relative;
  background: linear-gradient(#d2aa5c, #262626 0.7);
  transition: var(--mainTransition);
  min-height: 25rem;
}
.img {
  height: 100%;
  transition: var(--mainTransition);
}

.img-container:hover .img {
  opacity: 0.3;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  background: var(--mainBlack);
  border: 2px solid var(--primaryColor);
  padding: 0.5rem 0.7rem;
  transition: var(--mainTransition);
  display: inline-block;
}

.img-container:hover .link {
  opacity: 0.8;
}
.footer {
  padding: 1rem 0.5rem;
  text-align: center;
}

.footer h2 {
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.footer h6 {
  text-transform: capitalize;
}

.footer p {
  padding: 0.5rem 0;
}
