.contact {
  padding: 1rem 0 4rem 0;
}

.center {
  width: 80vw;
  margin: 0 auto;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.socialItem {
  display: inline-flex;
  width: 60px;
  height: 60px;
  margin: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  font-size: 21px;
  flex-shrink: 0;
  transition: var(--mainTransition);
}

.socialItem:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 992px) {
  .contact {
    padding: 4rem 0;
  }
  .center {
    width: 50vw;
    margin: 0 auto;
  }
}
