.footer {
  margin-top: auto;
  background: var(--mainBlack);
  color: var(--primaryColor);
  text-align: center;
  padding: 2rem;
}

.links {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.links a {
  display: inline-block;
  text-decoration: none;
  color: var(--primaryColor);
  margin: 0.5rem 1rem;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}

.links a:hover {
  color: var(--mainWhite);
}

.policy {
  text-transform: capitalize;
}

.socialIcon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  font-size: 16px;
  flex-shrink: 0;
  transition: var(--mainTransition);
}

.socialIcon:hover,
.socialIcon:focus {
  transform: scale(1.2);
}

.copyright {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  line-height: 2;
}
