.navbar {
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.3rem;
  align-items: center;
}

.logo-btn {
  transition: var(--mainTransition);
  background: transparent;
  border: none;
  outline: none;
}

.logo-btn:hover {
  cursor: pointer;
  color: var(--primaryColor);
}

.logo-icon {
  font-size: 1.5rem;
}

.nav-links,
.nav-social-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
}

.show-nav {
  height: 280px;
}
.show-social {
  height: 70px;
}

.nav-links a {
  color: var(--mainBlack);
  padding: 1rem 1.5rem;
  display: block;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  font-weight: bold;
}

.nav-links a:hover {
  color: var(--primaryColor);
  transform: translateX(8px);
}

.nav-social-links {
  display: flex;
  justify-content: space-around;
}
.nav-social-links a {
  background: var(--mainBlack);
  color: var(--primaryColor);
  margin: 1rem;
  width: 1.25rem;
  height: 1.4rem;
  font-size: 1.2rem;
  transition: var(--mainTransition);
}

.nav-social-links a:hover {
  background: var(--primaryColor);
  color: var(--mainBlack);
  transform: translateY(-5px);
}

/*OVO DOLE JE NAKON PROSIRENJA*/
@media screen and (min-width: 990px) {
  .navbar {
    padding: 0 2rem;
  }
  .logo-btn {
    display: none;
  }
  .nav-center {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-social-links {
    height: auto;
    display: flex;
  }

  .nav-social-links a {
    margin: 1rem 0.5rem;
    font-size: 1.2rem;
  }
}
