.navbar {
  background: greenyellow;
}
.nav-center {
  background: lightblue;
}

.nav-header {
  background: violet;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.3rem;
  align-items: center;
}

.nav-links a {
  padding: 1rem 1.3rem;
  display: block;
  text-transform: capitalize;
}

.nav-social-links {
  display: flex;
  justify-content: space-around;
}
.nav-social-links a {
  margin: 1rem 0;
}

/*OVO DOLE JE NAKON PROSIRENJA*/
@media screen and (min-width: 900px) {
  .navbar {
    padding: 0 2rem;
  }
  .logo-btn {
    display: none;
  }
  .nav-center {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-social-links {
    display: flex;
    line-height: 0;
  }

  .nav-social-links a {
    margin: 0 0.5rem;
    font-size: 1.2rem;
  }
}
