.scrollTop {
  border: none;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  background: var(--primaryColor);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  transform: translateY(-900%);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  transition: all 500ms ease-in-out;
}

.scrollArrow {
  color: var(--mainBlack);
  cursor: pointer;
  font-size: 2.3rem;
}

.active {
  opacity: 1;
  transform: translateY(0);
}
