.sidebar {
  position: fixed;
  top: 6rem;
  left: 0;
  right: 0;
  height: 100vh;
  background: var(--mainWhite);
  z-index: 3;
  opacity: 1;
  /*
  clip-path: circle(150% at top left);
  transition: clip-path ease-in-out 500ms;
*/
  border-right: 0.2rem solid var(--primaryColor);
  width: 90%;
  will-change: transform;
  transform: translateX(0%);
  transition: var(--mainTransition);
  box-shadow: var(--darkShadow);
}

.closeSidebar {
  transform: translateX(-100%);
  transition: var(--mainTransition);
  /*  
  clip-path: circle(0px at top left);
  transition: clip-path ease-in-out 300ms;
*/
}

.linksContainer {
  margin-bottom: 1.5rem;
}

.linksContainer ul {
  padding-top: 0.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  grid-row-gap: 5px;
}

.link {
  width: 95%;
  margin: 0 auto;
  height: calc((100vh - 6rem) / 4);
  text-align: center;
  color: var(--mainBlack);
  /*padding: 1em 1em;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  box-shadow: var(--lightShadow);
  border-radius: 5%;
  transition: var(--mainTransition);
}

.link:hover,
.link:focus {
  /*
  color: var(--mainBlack);
  background: var(--primaryColor);
  */
  box-shadow: var(--darkShadow);
}

.linksIcon {
  font-size: 1.4em;
  width: 1em;
}

.socialLinks {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.socialIcon {
  transition: var(--mainTransition);
  font-size: 2.5rem;
  display: flex;
}
.socialIcon:hover,
.socialIcon:focus {
  transform: translateY(-5px);
}
