.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: var(--mainWhite);
  transition: var(--mainTransition);
  z-index: 2;
  opacity: 1;
}

.closeSidebar {
  opacity: 0;
  z-index: 0;
  transform: translateX(-100%);
}

.displayNone {
  display: none;
}

.closeBtn {
  transition: var(--mainTransition);
  background: transparent;
  border: none;
  outline-color: var(--primaryColor);
  cursor: pointer;
}
.closeBtn:hover,
.closeBtn:focus {
  color: var(--primaryColor);
}

.closeIcon {
  font-size: 3rem;
}

.header {
  padding: 0.5rem 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2rem solid var(--primaryColor);
  box-shadow: var(--darkShadow);
}

.linksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
}
.link {
  text-align: left;
  color: var(--mainBlack);
  padding: 1rem 1.5rem;
  display: block;
  width: 100%;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  font-weight: bold;
  box-shadow: var(--lightShadow);
}

.link:hover,
.link:focus {
  color: var(--primaryColor);
  transform: translateX(8px);
  box-shadow: var(--darkShadow);
}

.socialLinks {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.socialIcon {
  transition: var(--mainTransition);
  margin-top: 0.5rem;
  font-size: 3rem;
}
.socialIcon:hover,
.socialIcon:focus {
  transform: translateY(-5px);
}
