.work {
  background: var(--primaryColor);
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}

.work:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
  background: var(--primaryColor);
  transition: var(--mainTransition);
}
.img {
  transition: var(--mainTransition);
}

.img-container:hover .img {
  opacity: 0.3;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  border: 2px solid var(--mainBlack);
  padding: 0.5rem 0.7rem;
  transition: var(--mainTransition);
  display: inline-block;
}

.link:hover {
  background: var(--mainBlack);
  color: var(--primaryColor);
  border-color: var(--mainBlack);
}

.img-container:hover .link {
  opacity: 0.8;
}
.footer {
  padding: 1rem 0;
  text-align: center;
}

.footer h4 {
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  margin-bottom: 0;
}
